<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010515350509-tqdsogepbqd8r0oadlqoriauv63en3f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010515350509-tqdsogepbqd8r0oadlqoriauv63en3f3</string>
	<key>API_KEY</key>
	<string>AIzaSyD7mv1SpT1chN3S3nNJQ6e2MDilje_HCVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1010515350509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roypark.Instagram2</string>
	<key>PROJECT_ID</key>
	<string>instagram2-with-firestore</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram2-with-firestore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010515350509:ios:788833d56cd68e1b568de4</string>
</dict>
</plist>